{% extends "base.html" %}
{% load static %}
{% block title %}Log Analysis{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'analyze_log/analyze_log.css' %}">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 scrollbar">
            <!-- Log content -->
            <div class="card scrollbar-primary log-content">
                <div class="card-body text-white bg-dark">
                    <h5 class="card-title"><i class="fas fa-file-alt"></i> <strong>Log Content</strong></h5>
                    <ul id="logContentList" style="font-family: monospace; list-style-type: number;">
                        {% for log_line in log_lines %}

                        <div class="d-flex align-items-center">
                            <span class="badge rounded-pil mr-2" 
                                style="font-size: large; background-color: {{ log_line.threat_signature.background_color }};"
                            >
                                    {{ log_line.lineNumber }}
                            </span>

                            <li style="padding: 1rem; border-radius: 0.5rem; color: {{ log_line.threat_signature.color }}; background-color: {{ log_line.threat_signature.background_color }}; list-style-type: none;">
                                {% if log_line.is_threat == True %}
                                    <strong>{{ log_line.line }}</strong>
                                {% else %}
                                    {{ log_line.line }}
                                {% endif %}
                            </li>
                        </div>
                        <hr>
                        {% endfor %}
                    </ul>
                </div>
                <div class="card-footer">
                    <a href="{% url 'home' %}" class="btn btn-primary"><i class="fas fa-arrow-left"></i> Back to Log Files</a>
                </div>
            </div>
            <!-- Log content end -->
        </div>

        <div class="col-md-4">
            <div class="row">
                <!-- Detected Threats -->
                <div class="card w-100 threat-pattern-content scrollbar-primary">
                    <div class="card-body text-white bg-dark">
                        <h5 class="card-title"><i class="fas fa-exclamation-triangle"></i> <strong>Detected Threat Pattern</strong></h5>
                        <hr>
                        <ul class="list-group">
                            {% for threats in detected_threats %}
                            <li class="list-group-item d-flex justify-content-between align-items-start bg-dark">
                                <div class="ms-2 me-auto">
                                  <div class="font-weight-bold" style="color: {{ threats.threat_signature.color }};">{{ threats.threat_signature.name }}</div>
                                  <code>{{ threats.threat_signature.pattern }}</code>
                                </div>
                                <span class="badge bg-primary rounded-pill">Line: {{ threats.lineNumber }}</span>
                            </li> 
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!-- Detected Threats end -->
            </div>
            <hr>
            <div class="row">
                <!-- Threat Signatures -->
                <div class="card w-100 threat-signature-content scrollbar-primary">
                    <div class="card-body text-white bg-dark">
                        <h5 class="card-title"><i class="fas fa-cogs"></i> <strong>Threat Signatures Description</strong></h5>
                        <hr>
                        <ul>
                            {% for threats in detected_threats %}
                                <li>{{ threats.threat_signature.description }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!-- Threat Signatures end -->
            </div>
        </div>
    </div>
</div>

<!-- Initialize Bootstrap components (if needed) -->
<!-- Include Bootstrap CSS and JavaScript as necessary -->

{% endblock %}
